/* 
.button{
    background-color: red;
    color: white;
    padding: 20px;
}

.changed-color{
    background-color: green;
}

.boxes {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.box {
  width: 100px;
  height: 100px;
  transition: 0.5s;
}

.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.orange { background: orange; }


.box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btn4 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}

@keyframes myAnimation {
  0% {background-color:red; left:0px; top:0px;}
  25% {background-color:yellow; left:200px; top:0px;}
  50% {background-color:blue; left:200px; top:200px;}
  75% {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */
